
  <h1 class="heading"><ul>
    <a [routerLink] = "['/']">Casino Lobby</a></ul></h1>
  <nav>
    <ul *ngFor="let category of categories; index as i">
      <li>
        <mat-icon aria-hidden="false">
          {{materialicons[i]}}
        </mat-icon>
        <a [routerLink] = "['/category', category.name]" routerLinkActive="active" ariaCurrentWhenActive="page">{{category.name}}</a></li>
    </ul>
  </nav>

  <router-outlet *ngIf="!loading"></router-outlet>
  <div *ngIf="loading">Loading...</div>

